@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>=====================</h3>

<h4> Instructions</h4>

<p>It uses default Project location on the File Directory</p>
<p>you can test it by pointing to the directory</p>
<p> The application calculates lines of code for the given list of file extensions</p>
<p>********************************************************************************</p>
 <p> It is been Tested on Visual studio 2015 developement envirnment only</p>
